* {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 500px;
    box-shadow: 2px 2px 10px 0px rgba(34, 60, 80, 0.2);
    box-sizing: border-box;
    padding: 25px;
    position: relative;

    @media screen and (max-width: 588px) {
        width: 85%;
    }

    #seal {
        width: 180px;
        height: 180px;
        position: absolute;
        bottom: -30px;
        right: -20px;
        display: none;
        opacity: 0;
        z-index: 4;
        transition: 0.2s ease-in;
    }

    #question {
        width: 100%;
        cursor: default;
        transition: 1s ease-out;

        .title {
            font-size: 20px;
            font-weight: 500;
        }
        .description {
            margin-top: 5px;
            font-size: 17px;

            @media (orientation: portrait) {
                margin-top: 8px;
            }
        }
    }

    #progressbar {
        width: 0%;
        height: 2px;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(79, 179, 255);
        transition: 0.5s ease-out;
        max-width: 100% !important;
    }
}

#test-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.5s ease-out;

    #answers {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 5px;
        margin-top: 25px;

        > div {
            width: 40px;
            height: 40px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;

            img {
                width: 28px;
                height: 28px;
                background: white;
                box-shadow: 0px 0px 7px -1px rgba(34, 60, 80, 0.2);
                display: none;
            }
        }

        > div:hover {
            img {
                display: flex;
                filter: brightness(10);
                opacity: 0.5;
            }
        }

        .picked {
            img {
                display: flex;
                filter: none !important;
                opacity: 1 !important;
            }
        }
    }

    .buttons {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-top: 30px;

        button {
            height: 33px;
            margin-left: 6px;
            background: rgb(0, 145, 255);
            border: 2px rgb(0, 145, 255) outset;
            color: white;
            box-sizing: border-box;
            padding: 0 12px;
            outline: none;
            font-size: 15px;
            cursor: pointer;
        }

        button:hover {
            background: rgb(46, 165, 255);
        }

        .complete {
            background: rgb(26, 203, 120);
            border: 2px rgb(26, 203, 120) outset;
        }

        .complete:hover {
            background: rgb(28, 221, 131);
        }
    }
}


.ans1 {
    background: rgb(255, 96, 96);
    border: 2px rgb(255, 96, 96) outset;
}
.ans2 {
    background: rgb(255, 147, 147);
    border: 2px rgb(255, 147, 147) outset;
}
.ans3 {
    background: rgb(206, 206, 206);
    border: 2px rgb(206, 206, 206) outset;
}
.ans4 {
    background: rgb(157, 254, 138);
    border: 2px rgb(157, 254, 138) outset;
}
.ans5 {
    background: rgb(109, 255, 80);
    border: 2px rgb(109, 255, 80) outset;
}


#test-result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .box {
        width: 90px;
        height: 90px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 10px;
        z-index: 0;

        #bar-colors {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg,rgb(13, 237, 80) 0%, rgba(0, 136, 255, 1) 100%);
            z-index: 1;
        }
        #bar {
            position: absolute;
            width: 100%;
            height: 100%;
            max-height: 100%;
            background: rgb(220, 220, 220);
            top: 0;
            transition: 1.5s ease-out;
            z-index: 2;
        }
        #filler {
            position: absolute;
            width: 88%;
            height: 88%;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            transition: 1s ease-out;
            color: transparent;
            font-size: 20px;
            font-weight: 500;
        }
    }
}
#tg {
    display: none;
    padding: 10px;
    padding-left: 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        width: 100%;
        font-size: 17px;
        margin-bottom: 10px;
        color: rgb(0, 55, 255);
    }

    img {
        height: 100%;
        max-height: 100px;
        margin-left: 25px;
    }
}